<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrate!</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/register.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="page-logo">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>  
        <nav>
            <div class="search-bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="/registro">Creá tu Cuenta<i class="fas fa-user-circle"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main-register">
        <form action="#" method="get">
            <div class="input_text">
                <input type="text" name="name" id="name" placeholder="Nombre y Apellido">
            </div>
            <div class="input_text">
                <input type="text" name="user" id="user" placeholder="Nombre de Usuario">
            </div>
            <div class="input_text">
                <input type="email" name="mail" id="mail" placeholder="Email">
            </div >
                <label class="laber_title" for="date">Fecha de Nacimiento</label>
            <div class="input_text">
                <input type="date" name="date" id="date" placeholder="mm / dd / yyyy">
            </div>
            <div class="input_text">
                <input type="text" name="address" id="address" placeholder="Domicilio">
            </div>
            <label class="laber_title" for="perfil_user">Perfil de Usuario:</label>
            <div class="perfil_user_bot">
                <div class="perfil_user_buy">
                    <input type="radio" name="perfil_user" id="perfil_user" value="comprador">
                    <label for="">Comprador</label>
                </div>
                <div class="perfil_user_sale">
                    <input type="radio" name="perfil_user" id="perfil_user" value="vendedor">
                    <label for="">Vendedor</label>
                </div>
            </div>
            <label class="laber_title" for="category">Categoria de Interes:</label>
            <div class="category_check">
                <div>
                    <label for="">Electro</label>
                    <input type="checkbox" name="category" id="category" value="electro">
                </div>
                <div>
                    <label for="">Moda</label>
                    <input type="checkbox" name="category" id="category" value="moda">
                </div>
                <div>
                    <label for="">Hogar</label>
                    <input type="checkbox" name="category" id="category" value="hogar">
                </div>
                
                <div>
                    <label for="">Jugueteria</label>
                    <input type="checkbox" name="category" id="category" value="jugueteria">
                </div>
                
                <div>
                    <label for="">Vida Sana</label>
                    <input type="checkbox" name="category" id="category" value="vidaSana">
                </div>
               
            </div>
            <label class="laber_title" for="photo">Foto de usuario</label>
            <div>
                
                <input type="file" name="photo" id="photo" disabled>
            </div>
            <div class="input_text">
                <input type="password" name="pass" id="pass" placeholder="Contraseña">
            </div>
            <div class="input_text">
                <input type="password" name="rePass" id="rePass" placeholder="Confirmar Contraseña">
            </div>
            <div class="form__group">
                <button type="reset" class="reset-button">Limpiar</button>
                <button type="submit" class="submit-button">Enviar</button>
            </div>


        </form>


    </main>
    <footer>
        <div class="footer-item">
            <i class="fas fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos 
                de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="footer-item">
            <i class="fas fa-gift"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="footer-item">
            <i class="fas fa-user-shield"></i>
            <h4>
                Seguridad, de principio a fin 
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                porque estás siempre protegid@.
            </p>
        </div>
        <div class="footer-item">
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
</body>
</html>